@model IList<Entities.Results>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Результаты</title>
</head>
<body>
    <h2>Результаты</h2>
    <div>
        @Html.ActionLink("Добавить", "AddResult")
        <hr />
        <dl>
            @foreach (var item in Model)
            {
                <dd>
                    @Html.ActionLink(item.Name, "ShowProfile", new { resultId = item.Id })
                </dd>
            }
        </dl>
    </div>
    <p>
        @Html.ActionLink("На главную", "Index", "Home")
    </p>
</body>
</html>
