@model IList<Entities.Cages>

@{
    ViewBag.Title = "Клетки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Клетки</h2>

<div>
    @Html.ActionLink("Добавить", "AddCage")
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model)
        {
            <dd>
                @Html.ActionLink(item.Name, "ShowProfile", new {cageId = item.Id})
            </dd>
        }
    </dl>
</div>

