@model IList<Entities.Females>

@{
    ViewBag.Title = "Управление клеткой";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Управление кролями в клетке</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model)
        {
            <dt>
                @Html.Label("Кличка")
            </dt>

            <dd>
                @Html.ActionLink(item.Name, "ShowProfile", "FemalesController", new {femaleId = item.Id})
            </dd>

            <dd>
                @Html.ActionLink("Удалить кроля из данной клетки", "DeleteRabbitFormCage", new { femaleId = item.Id, cageId = item.CageId })
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Назад", "ShowCages")
</p>
