@model IList<Entities.MedicalServices>

@{
    ViewBag.Title = "Медицинские препараты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Медицинские препараты</h2>

<div>
    @Html.ActionLink("Добавить", "AddMedicalService", "MedicalServices")
    <hr />
    <dl>
        @foreach (var item in Model)
        {
            <dd>
                @Html.ActionLink(item.MedicalServiceName, "ShowProfile", new { medicalServiceId = item.Id })
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("На главную", "Index", "Home")
</p>
